body{
    margin:0px;
    background-color: #fff3b0;
}

#sub{
    margin:10px;
    align-items:center;
    justify-content:center;

}

nav{
    height:100px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#9E2A2B;
    padding:25px;
}

nav ul{
    
    list-style-type:none;
    display:flex;
    text-decoration:none;
    gap:50px;


}

#homes{
    text-align: center;
    align-items:center;
    justify-content:center;
    color:rgb(241, 226, 151);
    font-size:200px;
    margin:0px;
    height:520px;
    background-image: url("https://i.pinimg.com/1200x/2a/29/17/2a2917b3984e7e6929d50ab1cf0d1f27.jpg");
    background-size:100% auto;
    background-color: rgba(255, 255, 255, 0.9);

}


nav a{
    list-style-type:none;
    text-decoration:none;
    color:#E09F3E;
    font-size:30px
}

nav img{
    max-height:100%
}

.guide{
    display:flex;
    flex-wrap:wrap;
    flex: 1 1 250px;
    height:700px;

    flex-direction:column;
    align-items:center;
    justify-content:center;
    
   


}

    
    


ul{
    list-style-type:none;
    display:flex;
    text-decoration:none;
    gap:20px;
}


#boxes{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    flex: 1 1 250px;
    align-items:center;
    background-color:#335C67;
    height:450px;
    width:350px;
}